# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Virtual env
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Byte-compiled
*.pyo

# Tests cache
.pytest_cache/

# Dist
build/
dist/ 