* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
}

/* Убираем отступы у Toolbar */
.MuiToolbar-root {
  min-height: 64px !important;
}
